.wrapper {
  width: 100%;
  background-color: var(--light-blue);
  z-index: 999;
  position: fixed;
  overflow: hidden;

  .nav {
    display: flex;
    justify-content: space-between;
    padding: var(--large-space);

    .burger_menu {
      margin-left: auto;
    }

    .mobile_section {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .underlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        opacity: inherit;
        max-height: inherit;
        visibility: inherit;
        z-index: inherit;
      }

      .mobile_drawer {
        position: absolute;
        bottom: 0;
        left: calc(var(--large-space) / 2);
        background-color: #ffffff;
        width: calc(100% - var(--large-space));
        box-shadow: var(--shadow);
        padding: var(--med-space);
        border-radius: var(--radius-large) var(--radius-large) 0 0;
        opacity: inherit;
        visibility: inherit;

        ul {
          padding: 0;
          overflow: auto;

          li {
            list-style: none;
            margin: var(--small-space) 0;

            a {
              position: relative;
              display: flex;
              width: 100%;
              align-items: center;
              padding: var(--small-space) var(--med-space);

              .link_text {
                margin-left: var(--med-space);
              }
            }
          }
        }
      }

      &[aria-hidden="true"] {
        z-index: -1;
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, max-height 0s ease 0.3s,
          visibility 0s 0.3s, z-index 0s 0.3s;

        .underlay {
          transition: opacity 0.3s ease, max-height 0s 0.3s, visibility 0s 0.3s,
            z-index 0s 0.3s;
        }

        .mobile_drawer {
          z-index: -1;
          transform: translateY(100%);
          transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s,
            z-index 0s 0.3s;
        }
      }

      &[aria-hidden="false"] {
        max-height: 100%;

        .underlay {
          transition: opacity 0.3s ease 0.1s, max-height 0s 0s, visibility 0s 0s,
            z-index 0s 0s;
        }
        .mobile_drawer {
          transform: translateY(0);
          transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s,
            z-index 0s;
        }
      }
    }

    .branding {
      display: flex;
      align-items: center;

      img {
        margin-right: 1ch;
      }

      span {
        font-weight: bold;
        margin-top: 2px;
      }
    }
  }
}
