.wrapper {
  display: flex;
  flex-direction: column;

  .main {
    .intro_section {
      position: relative;
      min-width: 250px;
      min-height: 250px;
      padding: 0 var(--large-space);
    }
  }
}
